# Activity: Course 4 Automatidata project lab

In this activity, you will explore the data provided and conduct  A/B and hypothesis testing.  
<br/>   

**The purpose** of this project is to demostrate knowledge of how to prepare, create, and analyze A/B tests.
  
**The goal** is to apply descriptive and inferential statistics, probability distributions, confidence intervals, and hypothesis testing in Python.
<br/>

You are a data professional in a data analytics firm, called Automatidata. The current project for their newest client, the New York City Taxi & Limousine Commission (New York City TLC) is reaching its midpoint, having completed a project proposal, Python coding work, and exploratory data analysis.

The team has reviewed the results of the exploratory data analysis and the executive summary that you prepared for the client, New York City TLC. A few days after the executive summary was presented to New York City TLC, Daichi Watanabe, the Automatidata project manager working on behalf of the New York City TLC project sent an email updating you and your Automatidata colleagues. 

You additionally receive an email from the company’s Senior Data Analyst Luana Rodriquez with your next assignment.

# **Conduct an A/B test**

Now, you are trying to find ways to improve the work experience and compensation of taxi cab drivers. 

In this activity, you will practice using statistics to analyze and interpret data. The activity covers fundamental concepts such as descriptive statistics and hypothesis testing. 

**The purpose** of this A/B test is to find ways to generate more revenue for taxi cab drivers. 

Remark: For the purpose of this exercise, assume that the sample data comes from an experiment in which customers are randomly selected and divided into two groups: 1) customers who are required to pay with credit card, 2) customers who are required to pay with cash. Without this assumption, we cannot draw causal conclusions about how payment method affects fare amount.

**The goal** for this A/B test is to sample data and analyze whether there is a relationship between payment type and fare amount. For example: discover if customers who use credit cards pay higher fare amounts than customers who use cash.

In [3]:
import numpy as np 
import pandas as pd 
from scipy import stats

In [10]:
df = pd.read_csv('Transformed_2017_Yellow_Taxi_Trip_Data.csv')
df.head()

,Unnamed: 0.1,Unnamed: 0,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,Trip_duration
0,0,24870114,2,2017-03-25 08:55:43,2017-03-25 09:09:47,6,3.34,1,N,100,231,1,13.0,0.0,0.5,2.76,0.0,0.3,16.56,0 days 00:14:04
1,1,35634249,1,2017-04-11 14:53:28,2017-04-11 15:19:58,1,1.80,1,N,186,43,1,16.0,0.0,0.5,4.00,0.0,0.3,20.80,0 days 00:26:30
2,2,106203690,1,2017-12-15 07:26:56,2017-12-15 07:34:08,1,1.00,1,N,262,236,1,6.5,0.0,0.5,1.45,0.0,0.3,8.75,0 days 00:07:12
3,3,38942136,2,2017-05-07 13:17:59,2017-05-07 13:48:14,1,3.70,1,N,188,97,1,20.5,0.0,0.5,6.39,0.0,0.3,27.69,0 days 00:30:15
4,4,30841670,2,2017-04-15 23:32:20,2017-04-15 23:49:03,1,4.37,1,N,4,112,2,16.5,0.5,0.5,0.00,0.0,0.3,17.80,0 days 00:16:43

# Simulate random sampling

In [12]:
card = df.loc[df['payment_type'] == 1]
card.shape

(15261, 20)

In [13]:
cash = df.loc[df['payment_type'] == 2]
cash.shape

(7266, 20)

In [14]:
card_random_sample = df.loc[df['payment_type'] == 1].sample(n=1000, replace=True, random_state=42) 
card_random_sample['fare_amount'].mean()

13.102

In [15]:
cash_random_sample = df.loc[df['payment_type'] == 2].sample(n=1000, replace=True, random_state=42) 
cash_random_sample['fare_amount'].mean()

12.316

Based on the averages shown, it appears that customers who pay in credit card tend to pay a larger total fare amount than customers who pay in cash. However, this difference might arise from random sampling, rather than being a true difference in total fare amount. To assess whether the difference is statistically significant, you conduct a hypothesis test.

# Hypothesis testing

Your goal in this step is to conduct a two-sample t-test. Recall the steps for conducting a hypothesis test: 


1.   State the null hypothesis and the alternative hypothesis
2.   Choose a signficance level
3.   Find the p-value
4.   Reject or fail to reject the null hypothesis

# Hypothesis 1

$H_0$: There is no difference in the average total fare amount between customers who use credit cards and customers who use cash.

$H_A$: There is a difference in the average total fare amount between customers who use credit cards and customers who use cash.

You choose 5% as the significance level and proceed with a two-sample t-test.

In [17]:
stats.ttest_ind(card_random_sample['fare_amount'], cash_random_sample['fare_amount'], equal_var=False)

Ttest_indResult(statistic=1.5769986254899828, pvalue=0.11495492919090876)

# Fail to reject null hypothesis

# Hypothesis 2

𝐻0
 : There is no difference in the average total amount between customers who use credit cards and customers who use cash.

𝐻𝐴
 : There is a difference in the average total amount between customers who use credit cards and customers who use cash.

In [21]:
print(card_random_sample['total_amount'].mean(),cash_random_sample['total_amount'].mean())

17.384230000000002 13.667920000000004

In [18]:
stats.ttest_ind(card_random_sample['total_amount'], cash_random_sample['total_amount'], equal_var=False)

Ttest_indResult(statistic=6.163743463612111, pvalue=8.608489606871592e-10)

# Reject null hypothesis